<script>
  import TemplateLayout from "../template_layout.vue";
  import {Head} from "@inertiajs/inertia-vue3";
  
  export default{
    props: [
      "template_layout",
      "torneio"
    ],
    components: {
      TemplateLayout,
      Head
    },
    data(){
      return{
        /* Propriedades obtidas dos controllers precisam ser recolocadas para prevenir o cache do inertia */
        vue_template_layout: this.template_layout,
        vue_torneio: this.torneio,
        
        /* Propriedades novas e seus valores iniciais */
        endereco_do_arquivo_css: "/css/" + this.template_layout.visual_escolhido + "/torneio.css",
        classe_da_mensagem: "mensagem_de_" + this.torneio.tipo_de_mensagem,
        
        classe_da_div_diagrama: "diagrama_de_" + this.torneio.quantidade_de_waifus + "_waifus",
        
        mostrar_popup_votar: false,
        popup_votar: new Object(),
        posicao_x_do_popup_votar: 0,
        posicao_y_do_popup_votar: 0,
        
        animacao_de_titulo: "titulo_some",
        animacao_da_mensagem: "mensagem_some"
      }
    },
    created(){
      this.popup_votar.valor_da_pontuacao = "";
      this.popup_votar.id_da_inscricao = "";
      this.popup_votar.id_da_waifu = "";
      this.popup_votar.nome_da_waifu = "";
      this.popup_votar.imagem_da_waifu = "";
      this.popup_votar.etapa_da_pontuacao = "";
    },
    methods: {
      clique_na_imagem_da_competidora(pontuacao, evento){
        this.mostrar_popup_votar = true;
        this.posicao_x_do_popup_votar = evento.currentTarget.getBoundingClientRect().left + window.scrollX - 241 + 50;
        if(window.innerWidth <= 640){
          this.posicao_x_do_popup_votar = evento.currentTarget.getBoundingClientRect().left + window.scrollX;
        }
        this.posicao_y_do_popup_votar = evento.currentTarget.getBoundingClientRect().top + window.scrollY - 142;
        this.popup_votar.valor_da_pontuacao = pontuacao.valor_da_pontuacao;
        this.popup_votar.id_da_inscricao = pontuacao.id_da_inscricao;
        this.popup_votar.id_da_waifu = pontuacao.id_da_waifu;
        this.popup_votar.nome_da_waifu = pontuacao.nome_da_waifu;
        this.popup_votar.imagem_da_waifu = pontuacao.imagem_da_waifu;
        this.popup_votar.etapa_da_pontuacao = pontuacao.etapa_da_pontuacao;
      },
      clique_no_xis_do_popup_votar(){
        this.mostrar_popup_votar = false;
      },
      soltar_botao(evento){
        const botao = evento.currentTarget;
        botao.blur();
      }
    },
    mounted(){
      setTimeout(function(){
        this.animacao_de_titulo = "titulo_aparece";
        this.animacao_da_mensagem = "mensagem_aparece";
      }.bind(this), 200);
    }
  }
</script>

<template>
  <TemplateLayout :template_layout="vue_template_layout">
    <template #conteudo>
      <div id="div_pagina_torneio">
        <div id="div_local_do_titulo_da_pagina">
          <h2 id="h2_titulo_da_pagina" :class="animacao_de_titulo">
            <span v-if="vue_torneio.id_valido">{{vue_torneio.nome}}</span>
            <span v-else>Torneio</span>
          </h2>
        </div>
        <div v-if="vue_torneio.mensagem !== ''" id="div_mensagem">
          <span id="span_mensagem" :class="[classe_da_mensagem, animacao_da_mensagem]">{{vue_torneio.mensagem}}</span>
        </div>
        <div v-if="vue_torneio.id_valido" id="div_informacoes_e_diagrama">
          <div id="div_informacoes" v-if="vue_torneio.status === 'aguardando_inscricoes'">
            <div id="div_status">
              <span>Status: {{vue_torneio.status_frase}}.</span>
            </div>
            <div id="div_tipo">
              <span>Tipo: Torneio de {{vue_torneio.quantidade_de_waifus_frase}}.</span>
            </div>
            <div id="div_quantidade_de_vagas">
              <span>Vagas disponíveis: {{vue_torneio.vagas_disponiveis}}.</span>
            </div>
          </div>
          <div id="div_informacoes" v-if="vue_torneio.status === 'torneio_iniciado'">
            <div id="div_status">
              <span>Status: {{vue_torneio.status_frase}}.</span>
            </div>
            <div id="div_tipo">
              <span>Tipo: Torneio de {{vue_torneio.quantidade_de_waifus_frase}}.</span>
            </div>
            <div id="div_momento_do_inicio">
              <span>Torneio iniciou em: {{vue_torneio.momento_do_inicio}}.</span>
            </div>
            <div id="div_etapa">
              <span>Está decorrendo a etapa {{vue_torneio.etapa_frase}}.</span>
            </div>
          </div>
          <div id="div_informacoes" v-if="vue_torneio.status === 'torneio_encerrado'">
            <div id="div_status">
              <span>Status: {{vue_torneio.status_frase}}.</span>
            </div>
            <div id="div_tipo">
              <span>Tipo: Torneio de {{vue_torneio.quantidade_de_waifus_frase}}.</span>
            </div>
            <div id="div_momento_do_inicio">
              <span>Torneio iniciou em: {{vue_torneio.momento_do_inicio}}.</span>
            </div>
            <div id="div_vencedora">
              <span>Campeã:</span>
              <div id="div_imagem_mais_nome_da_vencedora">
                <img id="imagem_da_vencedora" :src="vue_torneio.waifu_vencedora.imagem"/>
                <span>&nbsp;</span>
                <a id="link_nome_da_vencedora" :href="'/waifu?id=' + vue_torneio.waifu_vencedora.id">{{vue_torneio.waifu_vencedora.nome}}</a>
              </div>
            </div>
          </div>
          <div id="div_diagrama" :class="classe_da_div_diagrama">
            <template v-for="(etapa, chave_da_etapa) in vue_torneio.pontuacoes">
              <template v-for="(pontuacao, chave_da_pontuacao) in etapa">
                <img class="imagem_da_waifu" :src="pontuacao.imagem_da_waifu" @click="clique_na_imagem_da_competidora(pontuacao, $event)"
                     :style="{position: 'absolute', top: Math.pow(2, chave_da_etapa)*100-100+Math.pow(2, chave_da_etapa+1)*100*chave_da_pontuacao+8+'px', left: 165*chave_da_etapa+8+'px'}"/>
                <span :style="{position: 'absolute', top: Math.pow(2, chave_da_etapa)*100-60+Math.pow(2, chave_da_etapa+1)*100*chave_da_pontuacao+8+'px', left: 165*chave_da_etapa+112+'px'}"
                      class="pontuacao_da_waifu">{{pontuacao.valor_da_pontuacao}}</span>
              </template>
            </template>
            <img v-if="vue_torneio.status === 'torneio_encerrado'" class="imagem_da_waifu_vencedora" :src="vue_torneio.waifu_vencedora.imagem"
                 :style="{position: 'absolute', top: vue_torneio.quantidade_de_waifus*100-100+8+'px', left: 165*(vue_torneio.etapa-1)+8+'px'}"/>
          </div>
        </div>
      </div>
      <div id="div_popup_votar" v-if="mostrar_popup_votar" :style="{position: 'absolute', top: posicao_y_do_popup_votar+'px', left: posicao_x_do_popup_votar+'px'}">
        <div id="div_xis_do_popup_votar" @click="clique_no_xis_do_popup_votar">
          <span>X</span>
        </div>
        <div id="div_informacoes_do_popup_votar">
          <div id="div_imagem_da_waifu_no_popup_votar">
            <img id="imagem_da_waifu_no_popup_votar" :src="popup_votar.imagem_da_waifu"/>
          </div>
          <div id="div_nome_da_waifu_no_popup_votar">
            <a id="link_nome_da_waifu" :href="'/waifu?id=' + popup_votar.id_da_waifu">{{popup_votar.nome_da_waifu}}</a>
          </div>
        </div>
        <form id="form_votar_na_waifu" method="post" action="/torneio/votar_na_waifu">
          <input type="hidden" name="_token" :value="vue_template_layout.chave_anti_csrf"/>
          <input type="hidden" name="id_da_inscricao" :value="popup_votar.id_da_inscricao"/>
          <input type="hidden" name="etapa_da_pontuacao" :value="popup_votar.etapa_da_pontuacao"/>
          <button type="submit" id="botao_votar_na_waifu" @mouseleave="soltar_botao" @click="soltar_botao">Votar</button>
        </form>
      </div>
    </template>
  </TemplateLayout>
  <Head>
    <title>Torneio {{vue_torneio.nome}}</title>
    <link :href="endereco_do_arquivo_css" type="text/css" rel="stylesheet"/>
  </Head>
</template>

<style>
  .titulo_some{
    color: transparent;
  }
  .titulo_aparece{
    transition: color 0.3s linear;
  }
  
  .mensagem_some{
    color: transparent !important;
  }
  .mensagem_aparece{
    transition: color 0.3s linear;
  }
</style>
