#div_pagina_editar_waifu{
  margin-right: auto;
  margin-left: auto;
  width: 480px;
  max-width: 100%;
}
#div_informacoes_da_waifu{
  margin-top: 20px;
}
#div_imagem{
  display: inline-block;
  min-width: 100px;
  max-height: 100px;
  vertical-align: middle;
}
#imagem_da_waifu{
  max-width: 100px;
  max-height: 100px;
}
#div_nome{
  display: inline-block;
  margin-left: 15px;
  min-width: calc(100% - 100px - 15px); /* 100 é a imagem e 15 é a margem esquerda */
  max-width: calc(100% - 100px - 15px); /* 100 é a imagem e 15 é a margem esquerda */
  vertical-align: middle;
  text-overflow: ellipsis;
  overflow: hidden;
}
#link_nome_da_waifu{
  font-size: 14pt;
}
#div_mensagem{
  margin-top: 20px;
  line-height: 28px;
}
.mensagem_de_falha{
  color: #800000;
}
.mensagem_de_sucesso{
  color: #007000;
}
#form_editar_waifu{
  margin-top: 35px;
  background-color: #FFF;
  font-size: 13pt;
}
#div_nome_no_formulario{
  border-bottom: 6px solid #D0D0F0;
  border-left: 6px solid #D0D0F0;
  padding: 4px;
  white-space: nowrap;
}
#div_campo_nome{
  margin-top: 2px;
}
#campo_nome{
  border: 1px solid #A0A0DD;
  padding: 3px 5px;
  width: calc(100% - 2px - 10px);
  font-size: 12pt;
}
#campo_nome:hover,
#campo_nome:focus{
  border: 1px solid #7070A4;
}
#div_imagem_no_formulario{
  margin-top: 35px;
  border-bottom: 6px solid #D0D0F0;
  border-left: 6px solid #D0D0F0;
  padding: 4px;
  white-space: nowrap;
}
#div_campo_imagem{
  margin-top: 2px;
}
#campo_imagem{
  border: 1px solid #A0A0DD;
  padding: 3px 5px;
  width: calc(100% - 2px - 10px);
  font-size: 12pt;
}
#campo_imagem:hover,
#campo_imagem:focus{
  border: 1px solid #7070A4;
}
#div_botao_editar{
  margin-top: 35px;
  text-align: center;
}
