#div_pagina_inicio{
  margin-right: auto;
  margin-left: auto;
  width: 960px;
  max-width: 100%;
}
#div_dicas{
  margin-top: 30px;
}
@media only screen and (max-device-width: 640px){
  #div_dicas{
    margin-top: 20px;
  }
}
#h3_dicas{
  border-top: 1px solid #B0B0B0;
  border-bottom: 1px solid #B0B0B0;
  color: #303030;
  font-size: 14pt;
  text-align: center;
}
@media only screen and (max-device-width: 640px){
  #h3_dicas{
    margin-bottom: 20px;
    border: none;
    text-align: left;
  }
}
#div_lista_de_dicas{
  margin-top: 10px;
}
.dica{
  margin-top: 19px;
}
.dica:first-child{
  margin-top: 0px;
}
.dica>p{
  margin-top: 8px;
  line-height: 26px;
  text-indent: 70px;
}
@media only screen and (max-device-width: 640px){
  .dica>p{
    margin-top: 18px;
    line-height: 22px;
    text-indent: 35px;
  }
}
.dica>p:first-child{
  margin-top: 0px;
  color: #343434;
  font-size: 14pt;
}