#div_pagina_inscrever_waifu{
  margin-right: auto;
  margin-left: auto;
  width: 960px;
  max-width: 100%;
}
#div_informacoes_da_waifu{
  margin-top: 20px;
}
#div_imagem{
  display: inline-block;
  min-width: 100px;
  max-height: 100px;
  vertical-align: middle;
}
#imagem_da_waifu{
  max-width: 100px;
  max-height: 100px;
}
#div_nome{
  display: inline-block;
  margin-left: 20px;
  min-width: calc(100% - 100px - 20px); /* 100 é a imagem e 20 é a margem esquerda */
  max-width: calc(100% - 100px - 20px); /* 100 é a imagem e 20 é a margem esquerda */
  vertical-align: middle;
  text-overflow: ellipsis;
  overflow: hidden;
}
#link_nome_da_waifu{
  font-size: 14pt;
}
#div_mensagem{
  margin-top: 20px;
  line-height: 28px;
}
.mensagem_de_falha{
  color: #800000;
}
.mensagem_de_sucesso{
  color: #007000;
}

/* Torneios aguardando inscrições */
#div_local_da_lista_de_torneios{
  position: relative;
  margin-top: 20px;
  border: 1px solid #E0E0F4;
}
#div_mostrar_ou_ocultar_filtros_da_lista_de_torneios{
  position: absolute;
  top: 13px;
  left: calc(100% - 56px - 8px);
  border: 1px solid #303050;
  padding: 2px 6px;
  color: #303050;
  font-size: 11pt;
  text-align: center;
  cursor: pointer;
}
@media only screen and (max-device-width: 640px){
  #div_mostrar_ou_ocultar_filtros_da_lista_de_torneios{
    display: none;
  }
}
#h3_titulo_da_lista_de_torneios{
  padding: 6px 8px 10px 8px;
  background: #FFF;
  background: linear-gradient(90deg, #ECECFF 0%, #F0F0FF 50%, #ECECFF 100%);
  text-align: center;
}
#span_titulo_da_lista_de_torneios{
  color: #202060;
  font-size: 14pt;
}

/* Filtros da lista de torneios que estão aguardando inscrições */
#div_filtros_da_lista_de_torneios{
  overflow: hidden;
}
#div_filtro_nome_da_lista_de_torneios{
  float: right;
  padding: 8px;
}
#div_label_filtro_nome_da_lista_de_torneios{
  text-align: right;
}
#campo_filtro_nome_da_lista_de_torneios{
  border: 1px solid #D0D0F0;
  text-align: right;
}

/* Partes da lista de torneios que estão aguardando inscrições */
#div_partes_da_lista_de_torneios{
  border-top: 1px solid #E0E0F4;
  padding: 0px 8px;
  background-color: #F8F8FF;
  overflow: hidden;
}
#div_partes_da_lista_de_torneios>.parte_da_lista{
  float: left;
  cursor: pointer;
}
#div_parte_nome_do_torneio_da_lista_de_torneios{
  padding: 8px 0px;
  min-width: 50%;
  max-width: 50%;
}
@media only screen and (max-device-width: 640px){
  #div_parte_nome_do_torneio_da_lista_de_torneios{
    min-width: 64%;
    max-width: 64%;
  }
}
#div_parte_quantidade_de_vagas_disponiveis_da_lista_de_torneios{
  padding: 8px 0px 8px 20px;
  min-width: calc(25% - 20px);
  max-width: calc(25% - 20px);
  text-align: right;
}
@media only screen and (max-device-width: 640px){
  #div_parte_quantidade_de_vagas_disponiveis_da_lista_de_torneios{
    display: none;
  }
}
#div_parte_opcoes_da_lista_de_torneios{
  padding: 8px 0px 8px 20px;
  min-width: calc(25% - 20px);
  max-width: calc(25% - 20px);
  text-align: right;
}
@media only screen and (max-device-width: 640px){
  #div_parte_opcoes_da_lista_de_torneios{
    min-width: calc(36% - 20px);
    max-width: calc(36% - 20px);
  }
}

/* Lista de torneios aguardando inscrições */
#div_lista_de_torneios>.torneio,
#div_lista_de_torneios>.torneio:visited,
#div_lista_de_torneios>.torneio:hover{
  display: block;
  border-top: 1px solid #F0F0F0;
  padding: 8px;
  color: inherit;
  text-decoration: none;
  overflow: hidden;
}
#div_lista_de_torneios>.torneio.impar:hover{
  border-right: 6px solid #D0D0F0;
  border-left: 6px solid #D0D0F0;
  padding-right: 4px;
  padding-left: 4px;
}
#div_lista_de_torneios>.torneio.par:hover{
  border-right: 6px solid #F0D0D0;
  border-left: 6px solid #F0D0D0;
  padding-right: 4px;
  padding-left: 4px;
}
#div_lista_de_torneios>.torneio>.local_do_nome_do_torneio{
  float: left;
  min-width: 50%;
  max-width: 50%;
  overflow: auto;
}
@media only screen and (max-device-width: 640px){
  #div_lista_de_torneios>.torneio>.local_do_nome_do_torneio{
    min-width: 64%;
    max-width: 64%;
  }
}
#div_lista_de_torneios>.torneio>.local_da_quantidade_de_vagas_disponiveis{
  float: left;
  margin-left: 20px;
  min-width: calc(25% - 20px);
  max-width: calc(25% - 20px);
  text-align: right;
}
@media only screen and (max-device-width: 640px){
  #div_lista_de_torneios>.torneio>.local_da_quantidade_de_vagas_disponiveis{
    display: none;
  }
}
#div_lista_de_torneios>.torneio>.local_das_opcoes{
  float: left;
  margin-left: 20px;
  min-width: calc(25% - 20px);
  max-width: calc(25% - 20px);
  text-align: right;
}
@media only screen and (max-device-width: 640px){
  #div_lista_de_torneios>.torneio>.local_das_opcoes{
    min-width: calc(36% - 20px);
    max-width: calc(36% - 20px);
  }
}

/* Paginação da lista de torneios que estão aguardando inscrições */
#div_paginacao_da_lista_de_torneios{
  border-top: 1px solid #E0E0F4;
  padding: 8px 0px;
  min-height: calc(28px - 1px - 16px);
  background: #FFF;
  background: linear-gradient(90deg, #ECECFF 0%, #F0F0FF 50%, #ECECFF 100%);
  color: #202060;
  text-align: center;
}
#div_paginacao_da_lista_de_torneios>.pagina{
  margin-left: 20px;
  cursor: pointer;
}
#div_paginacao_da_lista_de_torneios>.pagina:first-child{
  margin-left: 0px;
}
#div_paginacao_da_lista_de_torneios>.pagina:hover{
  text-decoration: underline;
}
#div_paginacao_da_lista_de_torneios>.pagina_atual{
  text-shadow: 1px 0px 0px #202060;
}
