#div_pagina_novo_torneio{
  margin-right: auto;
  margin-left: auto;
  width: 480px;
  max-width: 100%;
}
#div_mensagem{
  margin-top: 20px;
  line-height: 28px;
}
.mensagem_de_falha{
  color: #800000;
}
.mensagem_de_sucesso{
  color: #007000;
}
#form_cadastrar_torneio{
  margin-top: 35px;
  background-color: #FFF;
  font-size: 13pt;
}
#div_nome{
  border-bottom: 6px solid #D0D0F0;
  border-left: 6px solid #D0D0F0;
  padding: 4px;
  white-space: nowrap;
}
#div_campo_nome{
  margin-top: 2px;
}
#campo_nome{
  border: 1px solid #A0A0DD;
  padding: 3px 5px;
  width: calc(100% - 2px - 10px);
  font-size: 12pt;
}
#campo_nome:hover,
#campo_nome:focus{
  border: 1px solid #7070A4;
}
#div_tipo{
  margin-top: 35px;
  border-bottom: 6px solid #D0D0F0;
  border-left: 6px solid #D0D0F0;
  padding: 4px;
  white-space: nowrap;
}
#div_caixa_de_selecao_tipo{
  margin-top: 2px;
}
#caixa_de_selecao_tipo{
  border: 1px solid #A0A0DD;
  width: calc(100% - 160px); /* Borda de tag select não precisa ser descontada */
  font-size: 12pt;
}
#caixa_de_selecao_tipo:hover,
#caixa_de_selecao_tipo:focus{
  border: 1px solid #7070A4;
}
#div_inscrever_waifu{
  margin-left: 10px;
  border: 1px solid #A0A0DD;
  padding: 3px 5px;
  min-width: calc(160px - 10px - 2px - 10px);
  min-width: calc(160px - 10px - 2px - 10px);
  background-color: #F4F4FF;
  color: #202050;
  text-align: center;
  cursor: pointer;
}
#div_inscrever_waifu:hover,
#div_inscrever_waifu:focus{
  border: 1px solid #7070A4;
  background-color: #EDEDFB;
}
#div_lista_de_campos_nome_da_waifu{
  margin-top: 10px;
}
.local_nome_da_waifu{
  margin-top: 10px;
}
.local_nome_da_waifu:first-child{
  margin-top: 0px;
}
.local_campo_nome_da_waifu{
  margin-top: 2px;
}
input.campo_nome_da_waifu{
  border: 1px solid #A0A0DD;
  padding: 3px 5px;
  width: calc(100% - 2px - 10px);
  font-size: 12pt;
}
input.campo_nome_da_waifu:hover,
input.campo_nome_da_waifu:focus{
  border: 1px solid #7070A4;
}
#div_lista_de_nomes_de_waifus_encontradas{
  background-color: #FFF;
}
.local_nome_da_waifu_encontrada{
  padding: 5px;
  cursor: pointer;
}
.local_nome_da_waifu_encontrada:hover{
  background-color: #F8E8F8;
}
#div_botao_cadastrar{
  margin-top: 35px;
  text-align: center;
}
