body{
  margin: 0px;
  background: #FFF;
  color: #202020;
  font-family: Verdana, Tahoma, Times New Roman, serif;
  font-size: 12pt;
}
#app{
  display: block;
}

#div_cabecalho_template{
  border-bottom: 1px solid #8080B0;
  padding: 15px 20px 0px 20px;
  min-width: calc(100% - 20px - 20px);
  max-width: calc(100% - 20px - 20px);
  background: #FFF;
  background: radial-gradient(#F0F0FF 0%, #E8E8FF 100%);
}
#div_local_do_titulo_do_sistema_template{
  margin-right: auto;
  margin-left: auto;
  width: 400px;
  max-width: 100%;
}
#h1_titulo_do_sistema_template{
  color: #202020;
  font-size: 28pt;
  letter-spacing: 1px;
  text-shadow: 1px 0px 0px #606060, 4px 4px 4px #F0A060;
  text-align: center;
}
#nav_menu_do_sistema_template{
  margin-top: 22px;
  min-width: 100%;
  max-width: 100%;
  text-align: center;
}
.item_do_menu_do_sistema{
  display: inline-block;
  margin-bottom: 21px;
  margin-left: 25px;
  vertical-align: top;
}
.item_do_menu_do_sistema:first-child{
  margin-left: 0px;
}
#div_tronco_template{
  margin-right: auto;
  margin-left: auto;
  padding: 20px 20px 70px 20px;
  min-width: calc(100% - 20px - 20px);
  max-width: calc(100% - 20px - 20px);
  min-height: 1000px; /* Será modificada pelo javascript */
  background-color: #FFF;
}
#div_rodape_template{
  border-top: 1px solid #8080B0;
  padding-bottom: 50px;
  background: #FFF;
  background: radial-gradient(#F0F0FF 0%, #E8E8FF 100%);
}
#div_autor_do_sistema_template{
  padding-top: 50px;
  text-align: center;
}
#div_tecnologias_do_sistema_template{
  margin-top: 20px;
  text-align: center;
}

/* Classes para qualquer tag: */
.tag_oculta{
  display: none !important;
}
.so_aparece_em_larguras_pequenas{
  display: none;
}
@media only screen and (max-device-width: 640px){
  .so_aparece_em_larguras_pequenas{
    display: initial;
  }
}

/* Estilos iniciais: */
h1, h2, h3, h4, h5, h6{
  margin: 0px;
  font-family: Verdana, Tahoma, Times New Roman, serif;
  font-size: 20pt;
  font-weight: normal;
}
input[type="text"],
input[type="number"]{
  border: 1px solid #585858;
  padding: 4px 5px;
  width: calc(212px - 2px - 10px);
  max-width: calc(100% - 2px - 10px);
  background-color: #FFF;
  color: #000;
  font-family: Verdana, Tahoma, Times New Roman, serif;
  font-size: 11pt;
  appearance: none;
  outline: none;
}
input:-webkit-autofill{
  -webkit-box-shadow: 0 0 0px 999px #FFF inset;
}
input[type="text"]:hover,
input[type="text"]:focus,
input[type="number"]:hover,
input[type="number"]:focus{
  border: 1px solid #484880;
  background-color: #FAFAFF;
  appearance: none;
  outline: none;
}
input[type="radio"]{
  margin: 0px;
}
input[type="radio"]:checked{
  filter: grayscale(50%) contrast(130%);
}
input[type="checkbox"]{
  margin: 0px;
}
input[type="checkbox"]:checked{
  filter: grayscale(50%) contrast(130%);
}
@-moz-document url-prefix(){
  input[type="radio"]{
    position: relative;
    top: -1px;
  }
  input[type="checkbox"]{
    position: relative;
    top: -1px;
  }
}
button{
  border-top: 1px solid #484880;
  border-right: 2px solid #484880;
  border-bottom: 2px solid #484880;
  border-left: 1px solid #484880;
  border-radius: 4px;
  padding: 4px 8px 3px 7px;
  background-color: #FDFDFF;
  color: #505080;
  font-family: Verdana, Tahoma, Times New Roman, serif;
  font-size: 11pt;
  cursor: pointer;
}
button:hover{
  border-top: 1px solid #404080;
  border-right: 2px solid #404080;
  border-bottom: 2px solid #404080;
  border-left: 1px solid #404080;
  appearance: none;
  outline: none;
}
button:focus{
  border-top: 2px solid #404080;
  border-right: 1px solid #404080;
  border-bottom: 1px solid #404080;
  border-left: 2px solid #404080;
  padding: 5px 7px 2px 8px;
  appearance: none;
  outline: none;
}
select{
  border: 1px solid #484880;
  padding-top: 4px;
  padding-bottom: 4px;
  width: 212px;
  max-width: 100%;
  background-color: #FFF;
  color: #000;
  font-family: Verdana, Tahoma, Times New Roman, serif;
  font-size: 11pt;
  outline: none;
}
select:hover,
select:focus{
  border: 1px solid #404080;
  background-color: #FFF;
  outline: none;
}
option{
  background-color: #FFF;
}
p{
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: justify;
}
a{
  color: #0000B0;
  text-decoration: none;
  cursor: pointer;
}
a:visited{
  color: #0000B0;
}
a:hover{
  color: #0000B0;
  text-decoration: underline;
}
