#div_pagina_torneios{
  margin-right: auto;
  margin-left: auto;
  width: 960px;
  max-width: 100%;
}

/* Torneios aguardando inscrições */
#div_local_da_lista_torneios_aguardando_inscricoes{
  position: relative;
  margin-top: 20px;
  border: 1px solid #E0E0F4;
}
#div_mostrar_ou_ocultar_filtros_da_lista_torneios_aguardando_inscricoes{
  position: absolute;
  top: 13px;
  left: calc(100% - 56px - 8px);
  border: 1px solid #303050;
  padding: 2px 6px;
  color: #303050;
  font-size: 11pt;
  text-align: center;
  cursor: pointer;
}
@media only screen and (max-device-width: 640px){
  #div_mostrar_ou_ocultar_filtros_da_lista_torneios_aguardando_inscricoes{
    display: none;
  }
}
#h3_titulo_da_lista_torneios_aguardando_inscricoes{
  padding: 6px 8px 10px 8px;
  background: #FFF;
  background: linear-gradient(90deg, #ECECFF 0%, #F0F0FF 50%, #ECECFF 100%);
  text-align: center;
}
#span_titulo_da_lista_torneios_aguardando_inscricoes{
  color: #202060;
  font-size: 14pt;
}

/* Filtros da lista de torneios aguardando inscrições */
#div_filtros_da_lista_torneios_aguardando_inscricoes{
  overflow: hidden;
}
#div_filtro_nome_da_lista_torneios_aguardando_inscricoes{
  float: right;
  padding: 8px;
}
#div_label_filtro_nome_da_lista_torneios_aguardando_inscricoes{
  text-align: right;
}
#campo_filtro_nome_da_lista_torneios_aguardando_inscricoes{
  border: 1px solid #D0D0F0;
  text-align: right;
}

/* Partes da lista de torneios aguardando inscrições */
#div_partes_da_lista_torneios_aguardando_inscricoes{
  border-top: 1px solid #E0E0F4;
  padding: 0px 8px;
  background-color: #F8F8FF;
  overflow: hidden;
}
#div_partes_da_lista_torneios_aguardando_inscricoes>.parte_da_lista{
  float: left;
  cursor: pointer;
}
#div_parte_nome_do_torneio_da_lista_torneios_aguardando_inscricoes{
  padding: 8px 0px;
  min-width: 50%;
  max-width: 50%;
}
@media only screen and (max-device-width: 640px){
  #div_parte_nome_do_torneio_da_lista_torneios_aguardando_inscricoes{
    min-width: 100%;
    max-width: 100%;
  }
}
#div_parte_quantidade_de_vagas_disponiveis_da_lista_torneios_aguardando_inscricoes{
  padding: 8px 0px 8px 20px;
  min-width: calc(25% - 20px);
  max-width: calc(25% - 20px);
  text-align: right;
}
@media only screen and (max-device-width: 640px){
  #div_parte_quantidade_de_vagas_disponiveis_da_lista_torneios_aguardando_inscricoes{
    display: none;
  }
}
#div_parte_total_de_vagas_da_lista_torneios_aguardando_inscricoes{
  padding: 8px 0px 8px 20px;
  min-width: calc(25% - 20px);
  max-width: calc(25% - 20px);
  text-align: right;
}
@media only screen and (max-device-width: 640px){
  #div_parte_total_de_vagas_da_lista_torneios_aguardando_inscricoes{
    display: none;
  }
}

/* Lista de torneios aguardando inscrições */
#div_lista_torneios_aguardando_inscricoes>.torneio,
#div_lista_torneios_aguardando_inscricoes>.torneio:visited,
#div_lista_torneios_aguardando_inscricoes>.torneio:hover{
  display: block;
  border-top: 1px solid #F0F0F0;
  padding: 8px;
  color: inherit;
  text-decoration: none;
  overflow: hidden;
}
#div_lista_torneios_aguardando_inscricoes>.torneio.impar:hover{
  border-right: 6px solid #D0D0F0;
  border-left: 6px solid #D0D0F0;
  padding-right: 4px;
  padding-left: 4px;
}
#div_lista_torneios_aguardando_inscricoes>.torneio.par:hover{
  border-right: 6px solid #F0D0D0;
  border-left: 6px solid #F0D0D0;
  padding-right: 4px;
  padding-left: 4px;
}
#div_lista_torneios_aguardando_inscricoes>.torneio>.local_do_nome_do_torneio{
  float: left;
  min-width: 50%;
  max-width: 50%;
  overflow: auto;
}
@media only screen and (max-device-width: 640px){
  #div_lista_torneios_aguardando_inscricoes>.torneio>.local_do_nome_do_torneio{
    min-width: 100%;
    max-width: 100%;
  }
}
#div_lista_torneios_aguardando_inscricoes>.torneio>.local_da_quantidade_de_vagas_disponiveis{
  float: left;
  margin-left: 20px;
  min-width: calc(25% - 20px);
  max-width: calc(25% - 20px);
  text-align: right;
}
@media only screen and (max-device-width: 640px){
  #div_lista_torneios_aguardando_inscricoes>.torneio>.local_da_quantidade_de_vagas_disponiveis{
    display: none;
  }
}
#div_lista_torneios_aguardando_inscricoes>.torneio>.local_do_total_de_vagas{
  float: left;
  margin-left: 20px;
  min-width: calc(25% - 20px);
  max-width: calc(25% - 20px);
  text-align: right;
}
@media only screen and (max-device-width: 640px){
  #div_lista_torneios_aguardando_inscricoes>.torneio>.local_do_total_de_vagas{
    display: none;
  }
}

/* Paginação da lista de torneios aguardando inscrições */
#div_paginacao_da_lista_torneios_aguardando_inscricoes{
  border-top: 1px solid #E0E0F4;
  padding: 8px 0px;
  min-height: calc(28px - 1px - 16px);
  background: #FFF;
  background: linear-gradient(90deg, #ECECFF 0%, #F0F0FF 50%, #ECECFF 100%);
  color: #202060;
  text-align: center;
}
#div_paginacao_da_lista_torneios_aguardando_inscricoes>.pagina{
  margin-left: 20px;
  cursor: pointer;
}
#div_paginacao_da_lista_torneios_aguardando_inscricoes>.pagina:first-child{
  margin-left: 0px;
}
#div_paginacao_da_lista_torneios_aguardando_inscricoes>.pagina:hover{
  text-decoration: underline;
}
#div_paginacao_da_lista_torneios_aguardando_inscricoes>.pagina_atual{
  text-shadow: 1px 0px 0px #202060;
}

/* Torneios iniciados */
#div_local_da_lista_torneios_iniciados{
  position: relative;
  margin-top: 25px;
  border: 1px solid #E0E0F4;
}
#div_mostrar_ou_ocultar_filtros_da_lista_torneios_iniciados{
  position: absolute;
  top: 13px;
  left: calc(100% - 56px - 8px);
  border: 1px solid #303050;
  padding: 2px 6px;
  color: #303050;
  font-size: 11pt;
  text-align: center;
  cursor: pointer;
}
@media only screen and (max-device-width: 640px){
  #div_mostrar_ou_ocultar_filtros_da_lista_torneios_iniciados{
    display: none;
  }
}
#h3_titulo_da_lista_torneios_iniciados{
  padding: 6px 8px 10px 8px;
  background: #FFF;
  background: linear-gradient(90deg, #ECECFF 0%, #F0F0FF 50%, #ECECFF 100%);
  text-align: center;
}
#span_titulo_da_lista_torneios_iniciados{
  color: #202060;
  font-size: 14pt;
}

/* Filtros da lista de torneios iniciados */
#div_filtros_da_lista_torneios_iniciados{
  overflow: hidden;
}
#div_filtro_nome_da_lista_torneios_iniciados{
  float: right;
  padding: 8px;
}
#div_label_filtro_nome_da_lista_torneios_iniciados{
  text-align: right;
}
#campo_filtro_nome_da_lista_torneios_iniciados{
  border: 1px solid #D0D0F0;
  text-align: right;
}
#div_filtro_inicio_a_partir_de_da_lista_torneios_iniciados{
  float: right;
  padding: 8px;
}
#div_label_filtro_inicio_a_partir_de_da_lista_torneios_iniciados{
  text-align: right;
}
#campo_filtro_inicio_a_partir_de_da_lista_torneios_iniciados{
  border: 1px solid #D0D0F0;
  text-align: right;
}
#div_filtro_inicio_antes_de_da_lista_torneios_iniciados{
  float: right;
  padding: 8px;
}
#div_label_filtro_inicio_antes_de_da_lista_torneios_iniciados{
  text-align: right;
}
#campo_filtro_inicio_antes_de_da_lista_torneios_iniciados{
  border: 1px solid #D0D0F0;
  text-align: right;
}

/* Partes da lista de torneios iniciados */
#div_partes_da_lista_torneios_iniciados{
  border-top: 1px solid #E0E0F4;
  padding: 0px 8px;
  background-color: #F8F8FF;
  overflow: hidden;
}
#div_partes_da_lista_torneios_iniciados>.parte_da_lista{
  float: left;
  cursor: pointer;
}
#div_parte_nome_do_torneio_da_lista_torneios_iniciados{
  padding: 8px 0px;
  min-width: 50%;
  max-width: 50%;
}
@media only screen and (max-device-width: 640px){
  #div_parte_nome_do_torneio_da_lista_torneios_iniciados{
    min-width: 100%;
    max-width: 100%;
  }
}
#div_parte_momento_do_inicio_da_lista_torneios_iniciados{
  padding: 8px 0px 8px 20px;
  min-width: calc(25% - 20px);
  max-width: calc(25% - 20px);
  text-align: right;
}
@media only screen and (max-device-width: 640px){
  #div_parte_momento_do_inicio_da_lista_torneios_iniciados{
    display: none;
  }
}
#div_parte_total_de_participantes_da_lista_torneios_iniciados{
  padding: 8px 0px 8px 20px;
  min-width: calc(25% - 20px);
  max-width: calc(25% - 20px);
  text-align: right;
}
@media only screen and (max-device-width: 640px){
  #div_parte_total_de_participantes_da_lista_torneios_iniciados{
    display: none;
  }
}

/* Lista de torneios iniciados */
#div_lista_torneios_iniciados>.torneio,
#div_lista_torneios_iniciados>.torneio:visited,
#div_lista_torneios_iniciados>.torneio:hover{
  display: block;
  border-top: 1px solid #F0F0F0;
  padding: 8px;
  color: inherit;
  text-decoration: none;
  overflow: hidden;
}
#div_lista_torneios_iniciados>.torneio.impar:hover{
  border-right: 6px solid #D0D0F0;
  border-left: 6px solid #D0D0F0;
  padding-right: 4px;
  padding-left: 4px;
}
#div_lista_torneios_iniciados>.torneio.par:hover{
  border-right: 6px solid #F0D0D0;
  border-left: 6px solid #F0D0D0;
  padding-right: 4px;
  padding-left: 4px;
}
#div_lista_torneios_iniciados>.torneio>.local_do_nome_do_torneio{
  float: left;
  min-width: 50%;
  max-width: 50%;
  overflow: auto;
}
@media only screen and (max-device-width: 640px){
  #div_lista_torneios_iniciados>.torneio>.local_do_nome_do_torneio{
    min-width: 100%;
    max-width: 100%;
  }
}
#div_lista_torneios_iniciados>.torneio>.local_do_momento_do_inicio{
  float: left;
  margin-left: 20px;
  min-width: calc(25% - 20px);
  max-width: calc(25% - 20px);
  text-align: right;
}
@media only screen and (max-device-width: 640px){
  #div_lista_torneios_iniciados>.torneio>.local_do_momento_do_inicio{
    display: none;
  }
}
#div_lista_torneios_iniciados>.torneio>.local_do_total_de_participantes{
  float: left;
  margin-left: 20px;
  min-width: calc(25% - 20px);
  max-width: calc(25% - 20px);
  text-align: right;
}
@media only screen and (max-device-width: 640px){
  #div_lista_torneios_iniciados>.torneio>.local_do_total_de_participantes{
    display: none;
  }
}

/* Paginação da lista de torneios iniciados */
#div_paginacao_da_lista_torneios_iniciados{
  border-top: 1px solid #E0E0F4;
  padding: 8px 0px;
  min-height: calc(28px - 1px - 16px);
  background: #FFF;
  background: linear-gradient(90deg, #ECECFF 0%, #F0F0FF 50%, #ECECFF 100%);
  color: #202060;
  text-align: center;
}
#div_paginacao_da_lista_torneios_iniciados>.pagina{
  margin-left: 20px;
  cursor: pointer;
}
#div_paginacao_da_lista_torneios_iniciados>.pagina:first-child{
  margin-left: 0px;
}
#div_paginacao_da_lista_torneios_iniciados>.pagina:hover{
  text-decoration: underline;
}
#div_paginacao_da_lista_torneios_iniciados>.pagina_atual{
  text-shadow: 1px 0px 0px #202060;
}

/* Torneios encerrados */
#div_local_da_lista_torneios_encerrados{
  position: relative;
  margin-top: 25px;
  border: 1px solid #E0E0F4;
}
#div_mostrar_ou_ocultar_filtros_da_lista_torneios_encerrados{
  position: absolute;
  top: 13px;
  left: calc(100% - 56px - 8px);
  border: 1px solid #303050;
  padding: 2px 6px;
  color: #303050;
  font-size: 11pt;
  text-align: center;
  cursor: pointer;
}
@media only screen and (max-device-width: 640px){
  #div_mostrar_ou_ocultar_filtros_da_lista_torneios_encerrados{
    display: none;
  }
}
#h3_titulo_da_lista_torneios_encerrados{
  padding: 6px 8px 10px 8px;
  background: #FFF;
  background: linear-gradient(90deg, #ECECFF 0%, #F0F0FF 50%, #ECECFF 100%);
  text-align: center;
}
#span_titulo_da_lista_torneios_encerrados{
  color: #202060;
  font-size: 14pt;
}

/* Filtros da lista de torneios encerrados */
#div_filtros_da_lista_torneios_encerrados{
  overflow: hidden;
}
#div_filtro_nome_da_lista_torneios_encerrados{
  float: right;
  padding: 8px;
}
#div_label_filtro_nome_da_lista_torneios_encerrados{
  text-align: right;
}
#campo_filtro_nome_da_lista_torneios_encerrados{
  border: 1px solid #D0D0F0;
  text-align: right;
}
#div_filtro_inicio_a_partir_de_da_lista_torneios_encerrados{
  float: right;
  padding: 8px;
}
#div_label_filtro_inicio_a_partir_de_da_lista_torneios_encerrados{
  text-align: right;
}
#campo_filtro_inicio_a_partir_de_da_lista_torneios_encerrados{
  border: 1px solid #D0D0F0;
  text-align: right;
}
#div_filtro_inicio_antes_de_da_lista_torneios_encerrados{
  float: right;
  padding: 8px;
}
#div_label_filtro_inicio_antes_de_da_lista_torneios_encerrados{
  text-align: right;
}
#campo_filtro_inicio_antes_de_da_lista_torneios_encerrados{
  border: 1px solid #D0D0F0;
  text-align: right;
}

/* Partes da lista de torneios encerrados */
#div_partes_da_lista_torneios_encerrados{
  border-top: 1px solid #E0E0F4;
  padding: 0px 8px;
  background-color: #F8F8FF;
  overflow: hidden;
}
#div_partes_da_lista_torneios_encerrados>.parte_da_lista{
  float: left;
  cursor: pointer;
}
#div_parte_nome_do_torneio_da_lista_torneios_encerrados{
  padding: 8px 0px;
  min-width: 25%;
  max-width: 25%;
}
@media only screen and (max-device-width: 640px){
  #div_parte_nome_do_torneio_da_lista_torneios_encerrados{
    min-width: 50%;
    max-width: 50%;
  }
}
#div_parte_nome_da_vencedora_da_lista_torneios_encerrados{
  padding: 8px 0px;
  min-width: 25%;
  max-width: 25%;
}
@media only screen and (max-device-width: 640px){
  #div_parte_nome_da_vencedora_da_lista_torneios_encerrados{
    min-width: 50%;
    max-width: 50%;
    text-align: right;
  }
}
#div_parte_momento_do_inicio_da_lista_torneios_encerrados{
  padding: 8px 0px 8px 20px;
  min-width: calc(25% - 20px);
  max-width: calc(25% - 20px);
  text-align: right;
}
@media only screen and (max-device-width: 640px){
  #div_parte_momento_do_inicio_da_lista_torneios_encerrados{
    display: none;
  }
}
#div_parte_total_de_participantes_da_lista_torneios_encerrados{
  padding: 8px 0px 8px 20px;
  min-width: calc(25% - 20px);
  max-width: calc(25% - 20px);
  text-align: right;
}
@media only screen and (max-device-width: 640px){
  #div_parte_total_de_participantes_da_lista_torneios_encerrados{
    display: none;
  }
}

/* Lista de torneios encerrados */
#div_lista_torneios_encerrados>.torneio,
#div_lista_torneios_encerrados>.torneio:visited,
#div_lista_torneios_encerrados>.torneio:hover{
  display: block;
  border-top: 1px solid #F0F0F0;
  padding: 8px;
  color: inherit;
  text-decoration: none;
  overflow: hidden;
}
#div_lista_torneios_encerrados>.torneio.impar:hover{
  border-right: 6px solid #D0D0F0;
  border-left: 6px solid #D0D0F0;
  padding-right: 4px;
  padding-left: 4px;
}
#div_lista_torneios_encerrados>.torneio.par:hover{
  border-right: 6px solid #F0D0D0;
  border-left: 6px solid #F0D0D0;
  padding-right: 4px;
  padding-left: 4px;
}
#div_lista_torneios_encerrados>.torneio>.local_do_nome_do_torneio{
  float: left;
  min-width: 25%;
  max-width: 25%;
  overflow: auto;
}
@media only screen and (max-device-width: 640px){
  #div_lista_torneios_encerrados>.torneio>.local_do_nome_do_torneio{
    min-width: 50%;
    max-width: 50%;
  }
}
#div_lista_torneios_encerrados>.torneio>.local_do_nome_da_vencedora{
  float: left;
  min-width: 25%;
  max-width: 25%;
  overflow: auto;
}
@media only screen and (max-device-width: 640px){
  #div_lista_torneios_encerrados>.torneio>.local_do_nome_da_vencedora{
    min-width: 50%;
    max-width: 50%;
    text-align: right;
  }
}
#div_lista_torneios_encerrados>.torneio>.local_do_momento_do_inicio{
  float: left;
  margin-left: 20px;
  min-width: calc(25% - 20px);
  max-width: calc(25% - 20px);
  text-align: right;
}
@media only screen and (max-device-width: 640px){
  #div_lista_torneios_encerrados>.torneio>.local_do_momento_do_inicio{
    display: none;
  }
}
#div_lista_torneios_encerrados>.torneio>.local_do_total_de_participantes{
  float: left;
  margin-left: 20px;
  min-width: calc(25% - 20px);
  max-width: calc(25% - 20px);
  text-align: right;
}
@media only screen and (max-device-width: 640px){
  #div_lista_torneios_encerrados>.torneio>.local_do_total_de_participantes{
    display: none;
  }
}

/* Paginação da lista de torneios encerrados */
#div_paginacao_da_lista_torneios_encerrados{
  border-top: 1px solid #E0E0F4;
  padding: 8px 0px;
  min-height: calc(28px - 1px - 16px);
  background: #FFF;
  background: linear-gradient(90deg, #ECECFF 0%, #F0F0FF 50%, #ECECFF 100%);
  color: #202060;
  text-align: center;
}
#div_paginacao_da_lista_torneios_encerrados>.pagina{
  margin-left: 20px;
  cursor: pointer;
}
#div_paginacao_da_lista_torneios_encerrados>.pagina:first-child{
  margin-left: 0px;
}
#div_paginacao_da_lista_torneios_encerrados>.pagina:hover{
  text-decoration: underline;
}
#div_paginacao_da_lista_torneios_encerrados>.pagina_atual{
  text-shadow: 1px 0px 0px #202060;
}

/* Seletor de data */
.calendario{
  position: absolute;
  border: 1px solid #7070C0;
  padding: 12px 8px;
  background-color: #F4F4FF;
  color: #181838;
  box-shadow: 4px 4px 4px 1px #E0E0E0;
  z-index: 1;
}
.cabecalho_do_calendario{
  text-align: right;
}
.caixa_de_selecao_de_mes_do_calendario{
  margin-left: 9px;
  margin-right: 14px;
  width: 120px;
}
.caixa_de_selecao_de_ano_do_calendario{
  margin-left: 9px;
  width: 80px;
}
.corpo_do_calendario{
  margin-top: 14px;
}
.dias_do_calendario{
  border-top: 1px dashed #7070C0;
  border-left: 1px dashed #7070C0;
  min-width: 329px;
  max-width: 329px;
  overflow: hidden;
}
.celula_do_calendario{
  float: left;
  border-right: 1px dashed #7070C0;
  border-bottom: 1px dashed #7070C0;
  padding: 2px 2px 1px 3px;
  min-width: calc(47px - 2px - 3px - 1px);
  max-width: calc(47px - 2px - 3px - 1px);
  min-height: 23px;
  max-height: 23px;
  text-align: center;
}
.dia_do_calendario>span{
  position: relative;
  top: 2px;
}
.dia_do_calendario:hover{
  border: 1px solid #404070;
  padding-left: 2px;
  padding-top: 1px;
  cursor: pointer;
}
.dia_escolhido,
.dia_escolhido:hover{
  border-right: 1px solid #404070;
  border-bottom: 1px solid #404070;
  background-color: #404070;
  color: #FFF;
}
.rodape_do_calendario{
  margin-top: 12px;
}
.botoes_do_calendario{
  text-align: right;
}
.botao_confirmar_do_calendario{
  border-radius: 8px;
  padding-top: 2px;
  padding-bottom: 3px;
  background-color: #484878;
  color: #FFF;
  text-align: center;
  cursor: pointer;
}
.botao_confirmar_do_calendario:hover{
  background-color: #4848A0;
}
