#div_local_do_titulo_da_pagina{
  margin-right: auto;
  margin-left: auto;
  width: 960px;
  max-width: 100%;
}
#h2_titulo_da_pagina{
  min-width: 100%;
  max-width: 100%;
  text-align: center;
  overflow: auto;
}
#div_mensagem{
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  width: 960px;
  max-width: 100%;
  line-height: 28px;
  text-align: center;
}
.mensagem_de_falha{
  color: #800000;
}
.mensagem_de_sucesso{
  color: #007000;
}
#div_informacoes_e_diagrama{
  margin-top: 30px;
}
#div_informacoes{
  margin-right: auto;
  margin-left: auto;
  border: 1px solid #B0B0B0;
  padding: 8px;
  width: 960px;
  max-width: 100%;
  font-size: 14pt;
}
#div_tipo{
  margin-top: 16px;
}
#div_quantidade_de_vagas{
  margin-top: 16px;
}
#div_momento_do_inicio{
  margin-top: 16px;
}
#div_etapa{
  margin-top: 16px;
}
#div_vencedora{
  margin-top: 16px;
  overflow: auto;
}
#imagem_da_vencedora{
  max-width: 100px;
  max-height: 100px;
  vertical-align: middle;
}
#link_nome_da_vencedora{
  vertical-align: middle;
}
#div_diagrama{
  position: relative;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  border: 1px solid #B0B0B0;
  padding: 8px;
}
.diagrama_de_2_waifus{
  min-width: 265px;
  max-width: 265px;
  min-height: 300px;
  max-height: 300px;
  background-image: url("../../Imagens/Esqueletos dos Diagramas/Torneio de 2 Waifus.png");
  background-size: initial;
  background-repeat: no-repeat;
  background-position-x: 8px;
  background-position-y: 8px;
}
.diagrama_de_4_waifus{
  min-width: 430px;
  max-width: 430px;
  min-height: 700px;
  max-height: 700px;
  background-image: url("../../Imagens/Esqueletos dos Diagramas/Torneio de 4 Waifus.png");
  background-size: initial;
  background-repeat: no-repeat;
  background-position-x: 8px;
  background-position-y: 8px;
}
.diagrama_de_8_waifus{
  min-width: 595px;
  max-width: 595px;
  min-height: 1500px;
  max-height: 1500px;
  background-image: url("../../Imagens/Esqueletos dos Diagramas/Torneio de 8 Waifus.png");
  background-size: initial;
  background-repeat: no-repeat;
  background-position-x: 8px;
  background-position-y: 8px;
}
.diagrama_de_16_waifus{
  min-width: 760px;
  max-width: 760px;
  min-height: 3100px;
  max-height: 3100px;
  background-image: url("../../Imagens/Esqueletos dos Diagramas/Torneio de 16 Waifus.png");
  background-size: initial;
  background-repeat: no-repeat;
  background-position-x: 8px;
  background-position-y: 8px;
}
.diagrama_de_32_waifus{
  min-width: 925px;
  max-width: 925px;
  min-height: 6300px;
  max-height: 6300px;
  background-image: url("../../Imagens/Esqueletos dos Diagramas/Torneio de 32 Waifus.png");
  background-size: initial;
  background-repeat: no-repeat;
  background-position-x: 8px;
  background-position-y: 8px;
}
.imagem_da_waifu{
  max-width: 100px;
  max-height: 100px;
  cursor: pointer;
}
.imagem_da_waifu_vencedora{
  max-width: 100px;
  max-height: 100px;
}
#div_popup_votar{
  border: 1px solid #A4A4A4;
  padding-bottom: 5px;
  min-width: 480px;
  max-width: 480px;
  background-color: #F8F8F8;
  box-shadow: 0px 0px 8px 0px rgba(23, 23, 31, 0.75);
  z-index: 1;
}
#div_xis_do_popup_votar{
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 2px 6px;
  background-color: #C04848;
  color: #FFF;
  font-size: 14pt;
  cursor: pointer;
}
#div_xis_do_popup_votar:hover{
  background-color: #A01818;
}
#div_informacoes_do_popup_votar{
  min-height: 100px;
}
#div_imagem_da_waifu_no_popup_votar{
  display: inline-block;
  max-height: 100px;
  vertical-align: middle;
}
#imagem_da_waifu_no_popup_votar{
  max-width: 100px;
  max-height: 100px;
}
#div_nome_da_waifu_no_popup_votar{
  display: inline-block;
  margin-left: 8px;
  min-width: calc(100% - 100px - 26px - 8px); /* 100 é a imagem, 26 é o xis e 8 é a margem esquerda */
  max-width: calc(100% - 100px - 26px - 8px); /* 100 é a imagem, 26 é o xis e 8 é a margem esquerda */
  vertical-align: middle;
  text-overflow: ellipsis;
  overflow: hidden;
}
#form_votar_na_waifu{
  margin-top: 5px;
  text-align: center;
}
@media only screen and (max-device-width: 640px){
  #form_votar_na_waifu{
    padding: 0px 21px;
    text-align: left;
  }
}
