#div_pagina_waifu{
  margin-right: auto;
  margin-left: auto;
  width: 960px;
  max-width: 100%;
}
#h2_titulo_da_pagina{
  overflow: auto;
}
#div_mensagem{
  margin-top: 20px;
  line-height: 28px;
  color: #800000;
}
#div_imagem_da_waifu_e_links{
  margin-top: 20px;
}
#div_imagem{
  display: inline-block;
  min-width: 100px;
  max-height: 100px;
  vertical-align: middle;
}
#imagem_da_waifu{
  max-width: 100px;
  max-height: 100px;
}
#div_links{
  display: inline-block;
  margin-left: 8px;
  vertical-align: middle;
}

/* Inscrições */
#div_inscricoes{
  margin-top: 30px;
  border: 1px solid #A0A0D8;
  padding: 10px 6px;
  background-color: #E8E8FD;
}
#h3_titulo_inscricoes{
  padding-bottom: 18px;
  font-size: 18pt;
}

/* Filtros da lista de inscrições */
#div_local_dos_filtros_da_lista_de_inscricoes{
  border: 1px solid #A0A0D8;
  padding: 4px 6px 6px 6px;
  background-color: #F8F8FD;
}
#h4_titulo_dos_filtros_da_lista_de_inscricoes{
  font-size: 16pt;
}
#div_filtros_da_lista_de_inscricoes{
  margin-top: 10px;
  overflow: hidden;
}
#div_filtro_nome_da_lista_de_inscricoes{
  float: left;
}
#campo_filtro_nome_da_lista_de_inscricoes:hover,
#campo_filtro_nome_da_lista_de_inscricoes:focus{
  background-color: #F0F0FF;
}
#div_filtro_tipo_da_lista_de_inscricoes{
  float: left;
  margin-left: 16px;
}
@media only screen and (max-device-width: 640px){
  #div_filtro_tipo_da_lista_de_inscricoes{
    display: none;
  }
}
#caixa_de_selecao_filtro_tipo_da_lista_de_inscricoes:hover,
#caixa_de_selecao_filtro_tipo_da_lista_de_inscricoes:focus{
  background-color: #F0F0FF;
}
#div_filtro_status_da_lista_de_inscricoes{
  float: left;
  margin-left: 16px;
}
@media only screen and (max-device-width: 640px){
  #div_filtro_status_da_lista_de_inscricoes{
    display: none;
  }
}
#caixa_de_selecao_filtro_status_da_lista_de_inscricoes:hover,
#caixa_de_selecao_filtro_status_da_lista_de_inscricoes:focus{
  background-color: #F0F0FF;
}

/* Lista de inscrições: Título */
#div_local_da_lista_de_inscricoes{
  margin-top: 20px;
}
#h4_titulo_da_lista_de_inscricoes{
  font-size: 16pt;
}

/* Lista de inscrições: Partes */
#div_partes_da_lista_de_inscricoes{
  margin-top: 8px;
  border-top: 1px solid #A0A0D8;
  border-right: 1px solid #A0A0D8;
  border-left: 1px solid #A0A0D8;
  padding: 4px;
  background-color: #F8F8FD;
  overflow: hidden;
}
#div_partes_da_lista_de_inscricoes>.parte_da_lista{
  float: left;
}
#div_parte_nome_do_torneio_da_lista_de_inscricoes{
  padding-right: 8px;
  min-width: calc(40% - 8px);
  max-width: calc(40% - 8px);
  cursor: pointer;
}
@media only screen and (max-device-width: 640px){
  #div_parte_nome_do_torneio_da_lista_de_inscricoes{
    padding-right: 0px;
    min-width: 100%;
    max-width: 100%;
  }
}
#div_parte_tipo_do_torneio_da_lista_de_inscricoes{
  padding-right: 8px;
  min-width: calc(15% - 8px);
  max-width: calc(15% - 8px);
  text-align: right;
  cursor: pointer;
}
@media only screen and (max-device-width: 640px){
  #div_parte_tipo_do_torneio_da_lista_de_inscricoes{
    display: none;
  }
}
#div_parte_status_do_torneio_da_lista_de_inscricoes{
  padding-right: 8px;
  min-width: calc(24% - 8px);
  max-width: calc(24% - 8px);
  text-align: right;
  cursor: pointer;
}
@media only screen and (max-device-width: 640px){
  #div_parte_status_do_torneio_da_lista_de_inscricoes{
    display: none;
  }
}
#div_parte_atingiu_da_waifu_da_lista_de_inscricoes{
  min-width: 21%;
  max-width: 21%;
  text-align: right;
  cursor: pointer;
}
@media only screen and (max-device-width: 640px){
  #div_parte_atingiu_da_waifu_da_lista_de_inscricoes{
    display: none;
  }
}

/* Lista de inscrições: Itens */
#div_lista_de_inscricoes{
  background-color: #FFF;
  border-right: 1px solid #A0A0D8;
  border-left: 1px solid #A0A0D8;
}
.inscricao,
.inscricao:visited,
.inscricao:hover{
  display: block;
  border-top: 1px solid #D0D0F0;
  padding: 8px 4px;
  color: inherit;
  text-decoration: none;
  overflow: hidden;
}
.inscricao.impar:hover{
  background-color: #F2F2FD;
}
.inscricao.par:hover{
  background-color: #F8F0FF;
}
.local_do_nome_do_torneio{
  float: left;
  padding-right: 8px;
  min-width: calc(40% - 8px);
  max-width: calc(40% - 8px);
  overflow: auto;
}
@media only screen and (max-device-width: 640px){
  .local_do_nome_do_torneio{
    padding-right: 0px;
    min-width: 100%;
    max-width: 100%;
  }
}
.local_do_tipo_do_torneio{
  float: left;
  padding-right: 8px;
  min-width: calc(15% - 8px);
  max-width: calc(15% - 8px);
  text-align: right;
}
@media only screen and (max-device-width: 640px){
  .local_do_tipo_do_torneio{
    display: none;
  }
}
.local_do_status_do_torneio{
  float: left;
  padding-right: 8px;
  min-width: calc(24% - 8px);
  max-width: calc(24% - 8px);
  text-align: right;
}
@media only screen and (max-device-width: 640px){
  .local_do_status_do_torneio{
    display: none;
  }
}
.local_da_etapa_que_atingiu_a_waifu_no_torneio{
  float: left;
  min-width: 21%;
  max-width: 21%;
  text-align: right;
}
@media only screen and (max-device-width: 640px){
  .local_da_etapa_que_atingiu_a_waifu_no_torneio{
    display: none;
  }
}

/* Lista de inscrições: Paginação e rodapé */
#div_paginacao_da_lista_de_inscricoes{
  border-top: 1px solid #D0D0F0;
  border-right: 1px solid #A0A0D8;
  border-bottom: 1px solid #A0A0D8;
  border-left: 1px solid #A0A0D8;
  padding: 4px;
  min-height: 20px;
  background-color: #F8F8FD;
  text-align: center;
}
@media only screen and (max-device-width: 640px){
  #div_paginacao_da_lista_de_inscricoes{
    font-size: 11pt;
  }
}
#div_paginacao_da_lista_de_inscricoes>.pagina{
  margin-left: 20px;
  cursor: pointer;
}
@media only screen and (max-device-width: 640px){
  #div_paginacao_da_lista_de_inscricoes>.pagina{
    margin-left: 8px;
  }
}
#div_paginacao_da_lista_de_inscricoes>.pagina:first-child{
  margin-left: 0px;
}
#div_paginacao_da_lista_de_inscricoes>.pagina:hover{
  text-decoration: underline;
}
#div_paginacao_da_lista_de_inscricoes>.pagina_atual{
  text-shadow: 1px 0px 0px #202020;
}
