#div_pagina_waifus{
  margin-right: auto;
  margin-left: auto;
  width: 960px;
  max-width: 100%;
}

/* Filtros da lista de waifus */
#div_local_dos_filtros_da_lista_waifus{
  margin-top: 20px;
}
#span_titulo_dos_filtros_da_lista_waifus{
  color: #202060;
  font-size: 18pt;
  cursor: pointer;
}
#div_filtros_da_lista_waifus{
  margin-top: 8px;
  border-right: 6px solid #D0D0F0;
  border-left: 6px solid #D0D0F0;
  padding: 0px 4px;
  overflow: hidden;
}
#div_filtro_nome_da_lista_waifus{
  float: left;
  padding: 8px 0px;
}
#campo_filtro_nome_da_lista_waifus{
  border: 1px solid #D0D0F0;
}

/* Local da lista de waifus */
#div_local_da_lista_waifus{
  position: relative;
  margin-top: 20px;
}
#span_titulo_da_lista_waifus{
  display: inline-block;
  vertical-align: bottom;
  color: #202060;
  font-size: 18pt;
}
#span_paginacao_no_titulo_da_lista_waifus{
  display: inline-block;
  min-width: calc(100% - 58px);
  max-width: calc(100% - 58px);
  vertical-align: bottom;
  color: #202060;
  font-size: 12pt;
  text-align: right;
}
@media only screen and (max-device-width: 640px){
  #span_paginacao_no_titulo_da_lista_waifus{
    font-size: 10pt;
  }
}
#span_paginacao_no_titulo_da_lista_waifus>.pagina{
  margin-left: 20px;
  cursor: pointer;
}
@media only screen and (max-device-width: 640px){
  #span_paginacao_no_titulo_da_lista_waifus>.pagina{
    margin-left: 8px;
  }
}
#span_paginacao_no_titulo_da_lista_waifus>.pagina:first-child{
  margin-left: 0px;
}
#span_paginacao_no_titulo_da_lista_waifus>.pagina:hover{
  text-decoration: underline;
}
#span_paginacao_no_titulo_da_lista_waifus>.pagina_atual{
  text-shadow: 1px 0px 0px #202060;
}

/* Partes da lista de waifus */
#div_partes_da_lista_waifus{
  margin-top: 8px;
  border-top: 1px solid #D0D0F0;
  border-right: 6px solid #D0D0F0;
  border-left: 6px solid #D0D0F0;
  padding: 0px 4px;
  background-color: #F8F8FF;
  overflow: hidden;
}
#div_partes_da_lista_waifus>.parte_da_lista{
  float: left;
}
#div_parte_imagem_da_waifu_da_lista_waifus{
  padding: 8px 0px;
  min-width: 100px;
  max-width: 100px;
}
@media only screen and (max-device-width: 640px){
  #div_parte_imagem_da_waifu_da_lista_waifus{
    min-width: 50px;
    max-width: 50px;
  }
}
#div_parte_nome_da_waifu_da_lista_waifus{
  padding: 8px;
  min-width: calc(100% - 100px - 84px - 16px);
  max-width: calc(100% - 100px - 84px - 16px);
  cursor: pointer;
}
@media only screen and (max-device-width: 640px){
  #div_parte_nome_da_waifu_da_lista_waifus{
    min-width: calc(100% - 50px - 84px - 16px);
    max-width: calc(100% - 50px - 84px - 16px);
  }
}
#div_parte_opcoes_da_lista_waifus{
  padding: 8px 0px;
  min-width: 84px;
  max-width: 84px;
  text-align: right;
}

/* Lista de waifus */
#div_lista_waifus{
  border-right: 6px solid #D0D0F0;
  border-left: 6px solid #D0D0F0;
}
.waifu,
.waifu:visited,
.waifu:hover{
  display: block;
  border-top: 1px solid #D0D0F0;
  padding: 4px;
  color: inherit;
  text-decoration: none;
}
.waifu.impar:hover{
  background-color: #D0F0D0;
}
.waifu.par:hover{
  background-color: #F8E0F8;
}
.local_da_imagem_da_waifu{
  display: inline-block;
  min-width: 100px;
  max-height: 100px;
  vertical-align: middle;
}
.imagem_da_waifu{
  max-width: 100px;
  max-height: 100px;
}
@media only screen and (max-device-width: 640px){
  .local_da_imagem_da_waifu{
    min-width: 50px;
    max-width: 50px;
    min-height: 50px;
    max-height: 50px;
  }
  .imagem_da_waifu{
    min-width: 50px;
    max-width: 50px;
    min-height: 50px;
    max-height: 50px;
  }
}
.local_do_nome_da_waifu{
  display: inline-block;
  padding-right: 8px;
  padding-left: 8px;
  min-width: calc(100% - 100px - 84px - 8px - 8px);
  max-width: calc(100% - 100px - 84px - 8px - 8px);
  vertical-align: middle;
  overflow: auto;
}
@media only screen and (max-device-width: 640px){
  .local_do_nome_da_waifu{
    min-width: calc(100% - 50px - 84px - 8px - 8px);
    max-width: calc(100% - 50px - 84px - 8px - 8px);
  }
}
.local_das_opcoes{
  display: inline-block;
  min-width: 84px;
  max-width: 84px;
  vertical-align: middle;
  text-align: right;
}

/* Paginação e rodapé da lista de waifus */
#div_paginacao_da_lista_waifus{
  border-top: 1px solid #D0D0F0;
  border-right: 6px solid #D0D0F0;
  border-bottom: 6px solid #D0D0F0;
  border-left: 6px solid #D0D0F0;
  padding: 8px 0px;
  min-height: 12px;
  background: #FFF;
  background: linear-gradient(90deg, #ECECFF 0%, #F0F0FF 50%, #ECECFF 100%);
  color: #202060;
  font-size: 12pt;
  text-align: center;
}
@media only screen and (max-device-width: 640px){
  #div_paginacao_da_lista_waifus{
    font-size: 10pt;
  }
}
#div_paginacao_da_lista_waifus>.pagina{
  margin-left: 20px;
  cursor: pointer;
}
@media only screen and (max-device-width: 640px){
  #div_paginacao_da_lista_waifus>.pagina{
    margin-left: 8px;
  }
}
#div_paginacao_da_lista_waifus>.pagina:first-child{
  margin-left: 0px;
}
#div_paginacao_da_lista_waifus>.pagina:hover{
  text-decoration: underline;
}
#div_paginacao_da_lista_waifus>.pagina_atual{
  text-shadow: 1px 0px 0px #202060;
}
