<script>
  import TemplateLayout from "../template_layout.vue";
  import {Head} from "@inertiajs/inertia-vue3";
  
  export default{
    props: [
      "template_layout",
      "nova_waifu"
    ],
    components: {
      TemplateLayout,
      Head
    },
    data(){
      return{
        /* Propriedades obtidas dos controllers precisam ser recolocadas para prevenir o cache do inertia */
        vue_template_layout: this.template_layout,
        vue_nova_waifu: this.nova_waifu,
        
        /* Propriedades novas e seus valores iniciais */
        endereco_do_arquivo_css: "/css/" + this.template_layout.visual_escolhido + "/nova_waifu.css",
        classe_da_mensagem: "mensagem_de_" + this.nova_waifu.tipo_de_mensagem,
        
        animacao_de_titulo: "titulo_some",
        animacao_da_mensagem: "mensagem_some",
        animacao_do_rotulo_do_campo: "rotulo_do_campo_some"
      }
    },
    methods: {
      soltar_botao(evento){
        const botao = evento.currentTarget;
        botao.blur();
      }
    },
    mounted(){
      setTimeout(function(){
        this.animacao_de_titulo = "titulo_aparece";
        this.animacao_da_mensagem = "mensagem_aparece";
      }.bind(this), 100);
      
      setTimeout(function(){
        this.animacao_do_rotulo_do_campo = "rotulo_do_campo_aparece";
      }.bind(this), 400);
    }
  }
</script>

<template>
  <TemplateLayout :template_layout="vue_template_layout">
    <template #conteudo>
      <div id="div_pagina_nova_waifu">
        <div id="div_local_do_titulo_da_pagina">
          <h2 id="h2_titulo_da_pagina" :class="animacao_de_titulo">
            <span>Nova Waifu</span>
          </h2>
        </div>
        <div v-if="vue_nova_waifu.mensagem !== ''" id="div_mensagem">
          <span id="span_mensagem" :class="[classe_da_mensagem, animacao_da_mensagem]">{{vue_nova_waifu.mensagem}}</span>
        </div>
        <form id="form_cadastrar_waifu" method="post" action="/nova_waifu/cadastrar_waifu">
          <div id="div_nome">
            <span :class="animacao_do_rotulo_do_campo">Nome da waifu</span>
            <div id="div_campo_nome">
              <input type="text" id="campo_nome" name="nome" autocomplete="off" v-model="vue_nova_waifu.nome"/>
            </div>
          </div>
          <div id="div_imagem">
            <div :class="animacao_do_rotulo_do_campo">
              <span>Imagem da waifu </span>
              <br class="so_aparece_em_larguras_pequenas"/>
              <span>(apenas Direct Link do Imgur)</span>
            </div>
            <div id="div_campo_imagem">
              <input type="text" id="campo_imagem" name="imagem" autocomplete="off" v-model="vue_nova_waifu.imagem"/>
            </div>
          </div>
          <div id="div_botao_cadastrar">
            <input type="hidden" name="_token" :value="vue_template_layout.chave_anti_csrf"/>
            <button type="submit" id="botao_cadastrar" @mouseleave="soltar_botao" @click="soltar_botao">Cadastrar</button>
          </div>
        </form>
      </div>
    </template>
  </TemplateLayout>
  <Head>
    <title>Nova Waifu</title>
    <link :href="endereco_do_arquivo_css" type="text/css" rel="stylesheet"/>
  </Head>
</template>

<style>
  .titulo_some{
    color: transparent;
  }
  .titulo_aparece{
    transition: color 0.3s linear;
  }
  
  .mensagem_some{
    color: transparent !important;
  }
  .mensagem_aparece{
    transition: color 0.3s linear;
  }
  
  .rotulo_do_campo_some{
    position: relative;
    margin-left: 130px;
    color: transparent;
  }
  .rotulo_do_campo_aparece{
    position: relative;
    margin-left: 0px;
    transition: margin-left 0.2s linear, color 0.4s linear;
  }
</style>
