<script>
  import TemplateLayout from "../template_layout.vue";
  import {Head} from "@inertiajs/inertia-vue3";
  
  export default{
    props: [
      "template_layout"
    ],
    components: {
      TemplateLayout,
      Head
    },
    data(){
      return{
        /* Propriedades obtidas dos controllers precisam ser recolocadas para prevenir o cache do inertia */
        vue_template_layout: this.template_layout,
        
        /* Propriedades novas e seus valores iniciais */
        endereco_do_arquivo_css: "/css/" + this.template_layout.visual_escolhido + "/inicio.css",
        animacao_de_titulo: "titulo_some",
        animacao_das_dicas: "dicas_somem"
      }
    },
    mounted(){
      setTimeout(function(){
        this.animacao_de_titulo = "titulo_aparece";
        this.animacao_das_dicas = "dicas_aparecem";
      }.bind(this), 200);
    }
  }
</script>

<template>
  <TemplateLayout :template_layout="vue_template_layout">
    <template #conteudo>
      <div id="div_pagina_inicio">
        <div id="div_local_do_titulo_da_pagina">
          <h2 id="h2_titulo_da_pagina" :class="animacao_de_titulo">
            <span>Início</span>
          </h2>
        </div>
        <div id="div_dicas">
          <h3 id="h3_dicas" :class="animacao_de_titulo">
            <span>Dicas de uso deste sistema</span>
          </h3>
          <div id="div_lista_de_dicas" :class="animacao_das_dicas">
            <div id="div_dica_um" class="dica">
              <p>
                Dica 01 - Pontapé inicial
              </p>
              <p>
                Comece adicionando novas waifus ao sistema pelo link Nova Waifu no menu do sistema, adicione pelo menos
                4 waifus para continuar seguindo esta dica;
              </p>
              <p>
                Agora crie um novo torneio pelo link Novo Torneio no menu do sistema, crie com capacidade para 4 waifus
                para continuar seguindo esta dica. Opcional: Você pode já inscrever as waifus enquanto cria o torneio;
              </p>
              <p>
                Caso ainda não tenha feito, inscreva 4 waifus no torneio que você criou. Para tal, acesse o link Waifus
                no menu do sistema e inscreva cada waifu pelo respectivo link inscrever;
              </p>
              <p>
                Por fim, acesse a página de torneios pelo link Torneios no menu do sistema e, na lista de torneios já
                iniciados, clique no torneio que você inscreveu as 4 waifus.
              </p>
            </div>
            <div id="div_dica_dois" class="dica">
              <p>
                Dica 02 - Status dos torneios
              </p>
              <p>
                Um torneio só inicia quando todas as vagas disponíveis forem preenchidas, quando um torneio não atinge a
                quantidade prevista de waifus inscritas ele fica com status aguardando inscrições;
              </p>
              <p>
                Na página de torneios são apresentadas três listas: Lista de torneios que estão aguardando inscrições,
                lista de torneios que já iniciaram e lista de torneios encerrados;
              </p>
              <p>
                No momento, um torneio só encerra quando uma waifu é considerada campeã e isso ocorre automaticamente
                quando o último confronto das chaves termina.
              </p>
            </div>
            <div id="div_dica_tres" class="dica">
              <p>
                Dica 03 - Etapas, confrontos e pontuações
              </p>
              <p>
                Quando uma waifu é inscrita em um torneio ela fica em uma posição aleatória da primeira etapa do
                torneio. Isso permite que não seja possível escolher quais confrontos acontecerão no início, deixando
                isso para o acaso;
              </p>
              <p>
                Quando uma waifu atinge a pontuação máxima, ela já está garantida para a próxima etapa do torneio. 
                Todo dia, no mesmo horário em que o torneio iniciou, a próxima etapa do torneio começa, fazendo com 
                que as waifus que tiverem mais pontos passem para esta etapa. Em caso de empate, o sistema sorteia 
                qual delas venceu o confronto. Se metade das waifus de uma etapa atinge a pontuação máxima, a próxima 
                etapa do torneio começa mais cedo;
              </p>
              <p>
                Apenas para exemplificar: Em um torneio com 32 waifus participantes (máximo possível por torneio deste
                sistema), a etapa 1 é a etapa do início do torneio e possuirá 32 waifus, a etapa dois terá apenas 16
                waifus, a etapa três terá apenas 8 waifus, a etapa quatro terá apenas 4 waifus, a etapa cinco terá
                apenas 2 waifus, e após esta etapa, apenas uma waifu será a campeã.
              </p>
            </div>
          </div>
        </div>
      </div>
    </template>
  </TemplateLayout>
  <Head>
    <title>Início</title>
    <link :href="endereco_do_arquivo_css" type="text/css" rel="stylesheet" />
  </Head>
</template>

<style>
  .titulo_some{
    color: transparent !important;
  }
  .titulo_aparece{
    transition: color 0.3s linear;
  }
  
  .dicas_somem{
    max-height: 0px;
    overflow: hidden;
  }
  .dicas_aparecem{
    max-height: 3000px;
    overflow: hidden;
    transition: max-height 2.2s ease 0.3s;
  }
</style>
